@charset "UTF-8";

body, html {
    background-color: lightgray;
}

div {
    width: 300px;
    height: 220px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    color: red;
    background-color: rgba(240, 128, 128, 0.555);
    text-align: center;
    padding: 10px;
}

h4 {
    color: blue;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}

p {
    text-indent: 15px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}