@charset "UTF-8";

.flex-box {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    height: 500px;
    border: 2px solid red;
    text-align: center;
}

.services {
    width: 30%;
    height: 220px;
    border: 1px solid blue;
}

#one {
    order: 1;
}

#two {
    order: 2;
}

#three {
    order: 3;
}

#four {
    order: 4;
}

#five {
    order: 5;
}

#six {
    order: 6;
}

/* grow */

.box {
    border: 1px solid red;
    width: 95%;
    height: 40px;
    margin-bottom: 20px;
}

.grow {
    display: flex;
}

.grow .box {
    flex: 1;
}

.grow .big {
    flex: 2;
}

/* basis */

.basis {
    display: flex;
}

.basis .box {
    flex-basis: 20px;
}

.basis .big {
    flex-grow: 1;
}

/* shrink */

.shrink {
    display: flex;
}

.shrink .box {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    width: auto;
}

.shrink .small {
    flex-shrink: 2;
}

/* shorthand */

.shorthand {
    display: flex;
}

.shorthand .box {
    width: auto;
    flex: 1 1 50px;
}

.shorthand .different {
    flex: 3 1 400px;
}

/* auto alinhamento */

.auto-align {
    height: 300px;
    display: flex;
    align-items: flex-end;
    border: 1px solid purple;
}

.auto-align .different {
    align-self: center;
}